node-red.json
[{"id":"f4804512.465b1","type":"tab","label":"NLU","disabled":false,"info":""},{"id":"735b23cb.889a34","type":"http in","z":"f4804512.465b1","name":"/nlu","url":"/nlu","method":"get","upload":false,"swaggerDoc":"","x":61.59999084472656,"y":180.00001525878906,"wires":[["55c63a7d.2e0d0c"]]},{"id":"509d0447.415a44","type":"natural-language-understanding","z":"f4804512.465b1","name":"","categories":true,"concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":695.5999755859375,"y":470.4499816894531,"wires":[["5368540e.dd1cac"]]},{"id":"94d24e15.8d622","type":"function","z":"f4804512.465b1","name":"montando entrada NLU","func":"var aux = msg.payload;\nmsg.nlu_options = {};\nmsg.payload = msg.payload.input_text;\nmsg.nlu_options.entity_model = aux.classifier_id; \nreturn msg;","outputs":1,"noerr":0,"x":418.5999755859375,"y":473.89996337890625,"wires":[["509d0447.415a44"]]},{"id":"5368540e.dd1cac","type":"function","z":"f4804512.465b1","name":"Monta resposta","func":"let response = msg.features;\nmsg.payload = {};\nmsg.payload.nlu = response;\ndelete msg.features;\n\nmsg.payload.has_entities = false;\nif(msg.payload.nlu.entities.length){\n    msg.payload.has_entities = true;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":936.6000366210938,"y":477.8999938964844,"wires":[["984fc1e9.9fdc6","b5f3119b.aa9798"]]},{"id":"88aca6dc.97c7","type":"http response","z":"f4804512.465b1","name":"Http Reponse","statusCode":"","headers":{},"x":1306.050048828125,"y":473.04998779296875,"wires":[]},{"id":"fb4dd6a1.101cc","type":"template","z":"f4804512.465b1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n <link href=\"https://fonts.googleapis.com/css?family=Barlow+Condensed\" rel=\"stylesheet\">\n <title>Watson NLU on Node-RED</title>\n <style>\n @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);\n \n div.container {\n display:inline-block;\n }\n \n p {\n text-align:center;\n }\n \n .centered { \n margin: 0 auto; \n width: 50%;\n }\n \n .button {\n background-color: #4CAF50; /* Green */\n border: none;\n color: white;\n padding: 3px 35px;\n text-align: center;\n text-decoration: none;\n display: inline-block;\n font-size: 16px;\n margin: 4px 2px;\n -webkit-transition-duration: 0.4s; /* Safari */\n transition-duration: 0.4s;\n cursor: pointer;\n }\n \n .button2 {\n background-color: white; \n color: black; \n border: 2px solid #008CBA;\n }\n \n .button2:hover {\n background-color: #008CBA;\n color: white;\n } \n \n h1, h2, h3, h4, h5, h6 {\n font-family: 'Barlow Condensed', sans-serif;\n font-weight: 500;\n color: WHITE;\n margin-top:5px;\n margin-bottom:5px;\n }\n \n h1, h2, h3 {\n text-transform:uppercase;\n }\n \n img {\n background-color: white;\n margin-top: 85px;\n display: block;\n margin-left: auto;\n margin-right: auto;\n border: 1px solid #ddd;\n border-radius: 4px;\n padding: 5px;\n }\n \n .center {\n margin: auto;\n width: 100%;\n }\n \n .wrapper {\n text-align: center;\n }\n \n .textforms {\n color: white;\n font-family: 'Barlow Condensed', sans-serif;\n font-size: 1.1vw;\n line-height: 180%;\n padding: 20px 40px 60px;\n margin: 20px 0px 60px;\n }\n \n textarea {\n height: 32px;\n color: white;\n text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);\n background-color: \t#152934;\n border: 1px solid white;\n border-radius: 4px;\n }\n \n textarea:focus {\n background-color: #152934;\n border: 2px solid BLACK;\n color: WHITE\n }\n \n input[type=text] {\n color: white;\n text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);\n background-color: \t#152934;\n border: 1px solid #152934;\n padding: 12px 20px;\n margin: 8px 0;\n box-sizing: border-box;\n -webkit-border-radius: 4px;\n -moz-border-radius: 4px;\n border-radius: 4px;\n }\n \n input[type=text]:focus {\n background-color: #152934;\n border: 2px solid BLACK;\n color: WHITE\n }\n \n .btn-primary {\n background: #5aaafa;\n color: #2d3f49;\n }\n \n /* TABLE INFO */\n \n body {\n /* background-color: #3e94ec; */\n background-color: #2d3f49;\n font-family: \"Roboto\", helvetica, arial, sans-serif;\n font-size: 16px;\n font-weight: 400;\n text-rendering: optimizeLegibility;\n }\n \n div.table-title {\n display: block;\n margin: auto;\n max-width: 800px;\n padding:5px;\n width: 100%;\n }\n \n .table-title h3 {\n color: #fafafa;\n font-size: 30px;\n font-weight: 400;\n font-style:normal;\n font-family: \"Roboto\", helvetica, arial, sans-serif;\n text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);\n text-transform:uppercase;\n }\n \n .table-title h1 {\n color: #fafafa;\n font-size: 40px;\n font-weight: 400;\n font-style:normal;\n font-family: \"Roboto\", helvetica, arial, sans-serif;\n text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);\n text-transform:uppercase;\n }\n \n /*** Table Styles **/\n \n .table-fill {\n height: 14px\n background: white;\n border-radius:3px;\n border-collapse: collapse;\n height: 150px;\n margin: auto;\n max-width: 800px;\n padding: 5px;\n width: 800px;\n box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);\n animation: float 5s infinite;\n }\n \n th {\n color:#D5DDE5;;\n background:#1b1e24;\n border-bottom:4px solid #9ea7af;\n border-right: 1px solid #343a45;\n font-size:32px;\n font-weight: 100;\n padding: 24px;\n text-align:left;\n text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);\n vertical-align:middle;\n }\n \n th:first-child {\n border-top-left-radius:3px;\n }\n \n th:last-child {\n border-top-right-radius:3px;\n border-right:none;\n }\n \n tr {\n border-top: 1px solid #C1C3D1;\n border-bottom: 1px solid #C1C3D1;\n color:#666B85;\n font-size:20px;\n font-weight:normal;\n text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);\n }\n \n tr:hover td {\n background:#4E5066;\n color:#FFFFFF;\n border-top: 1px solid #22262e;\n }\n \n tr:first-child {\n border-top:none;\n }\n \n tr:last-child {\n border-bottom:none;\n }\n \n tr:nth-child(odd) td {\n background:#EBEBEB;\n }\n \n tr:nth-child(odd):hover td {\n background:#4E5066;\n }\n \n tr:last-child td:first-child {\n border-bottom-left-radius:3px;\n }\n \n tr:last-child td:last-child {\n border-bottom-right-radius:3px;\n }\n \n td {\n background:#FFFFFF;\n padding: 20px;\n text-align:left;\n vertical-align:middle;\n font-weight:300;\n font-size:20px;\n text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);\n border-right: 1px solid #C1C3D1;\n }\n \n td:last-child {\n border-right: 0px;\n }\n \n th.text-left {\n text-align: left;\n }\n \n th.text-center {\n text-align: center;\n }\n \n th.text-right {\n text-align: right;\n }\n \n td.text-left {\n text-align: left;\n }\n \n td.text-center {\n text-align: center;\n }\n \n td.text-right {\n text-align: right;\n }\n .text-block{\n     margin-left: 3%;\n     margin-right: 3%;\n     width: 24%;\n     height: 20vh;\n }\n </style>\n</head>\n\n<body>\n    <div class = \"center wrapper\">\n        <br>\n        <br>\n        <h1>Bem Vindo ao meu Aplicativo Web de Análise de Textos!</h1>\n        <div class=\"textforms\">\n            <form action=\"{{req._parsedUrl.pathname}}\">\n                <br>\n                <br>\n                <div class=\"container text-block\">\n                    <p id=\"text-1\"></p>\n                    <button id=\"button-1\" type=\"button\">Selecionar</button>\n                </div>\n                <div class=\"container text-block\">\n                    <p id=\"text-2\"></p>\n                    <button id=\"button-2\" type=\"button\">Selecionar</button>\n                </div>\n                <div class=\"container text-block\">\n                    <p id=\"text-3\"></p>\n                    <button id=\"button-3\" type=\"button\">Selecionar</button>\n                </div>\n                \n                <div class=\"container text-block\">\n                    <p id=\"text-4\"></p>\n                    <button id=\"button-4\" type=\"button\">Selecionar</button>\n                </div>\n                <div class=\"container text-block\">\n                    <p id=\"text-5\"></p>\n                    <button id=\"button-5\" type=\"button\">Selecionar</button>\n                </div>\n                <div class=\"container text-block\">\n                    <p id=\"text-6\"></p>\n                    <button id=\"button-6\" type=\"button\">Selecionar</button>\n                </div>\n                <br>\n                <br>\n                Para analisar um texto, cole ele aqui ou passe a URL.\n                <br>\n                <p>\n                    URL ou Texto:\n                    <input type=\"text\" name=\"input_text\" id=\"input_text\"/>&emsp;&emsp;&emsp;\n                    Custom Model ID:\n                    <input type=\"text\" name=\"classifier_id\" value=\"\"/>&emsp;&emsp;\n                    <input class=\"button button2\" type=\"submit\" value=\"Analisar\"/>\n                </p>\n                <br>\n                <br>\n                <br>\n            </form>\n        </div>\n    </div>\n</body>\n<script>\n    document.addEventListener(\"DOMContentLoaded\", function(event) {\n        String.prototype.trunc = String.prototype.trunc ||\n            function(n){\n                return (this.length > n) ? this.substr(0, n-1) + '&hellip;' : this;\n            };\n        const source_1 = 'A Embraer anunciou acordo com a American Airlines de pedido firme para 15 jatos E175 ao valor de US$ 705 milhões (preço lista). O novo pedido será incluído na carteira (backlog) do quarto trimestre de 2018, e a previsão é de que as entregas comecem em 2020.\\nO pedido se segue a um feito em maio, também de 15 jatos. Ao todo, a companhia aérea americana já encomendou 104 aeronaves do modelo desde 2013. \\nAs aeronaves serão operadas pela Envoy, subsidiária da American Airlines, configuradas com 76 assentos, dos quais doze de primeira classe.\\nfonte: Estadão Conteúdo';\n        const source_2 = 'Finalmente, domingo, 4 de novembro, chegou ao fim. A data estava sendo aguardada havia meses por milhões de pessoas que prestaram o Exame Nacional do Ensino Médio (Enem). Nesse primeiro dia, os estudantes fizeram as provas de linguagens, ciências humanas e redação. No próximo domingo (11), eles farão questões relacionadas a ciências da natureza e matemática. Portanto, independentemente do desempenho nesse primeiro teste, a dica de especialistas para esta semana é manter a confiança e o foco. É preciso respirar fundo e se preparar para o segundo e último dia de exame. \\n“Não tem como mudar o que já foi feito. Não é produtivo pensar, neste momento, no que já passou. No próximo ano, caso você não tenha ido bem no exame, poderá realizar uma avaliação acerca do que houve”, pondera Delba Barros, coordenadora do Programa de Orientação Profissional da Universidade Federal de Minas Gerais (UFMG). \\nConforme Delba ressalta, é importante marcar presença no segundo dia do exame, mesmo que se esteja com aquela ideia de que o primeiro dia não foi satisfatório. “Enfrente o desafio, lide com isso. É uma situação de aprendizado. Pense que, se você não for bem-sucedido agora, no próximo ano estará mais preparado”, frisa. \\nSim, você já está decidido a ir para mais um dia do exame. Porém, a ansiedade também parece estar determinada a não desistir de você. Como lidar com ela? Primeiramente, como afirma Delba, é importante se cercar de cuidados para que se tenha o mínimo possível de imprevistos, sabendo exatamente como chegar ao local da prova, dormindo bem para acordar tranquilo, checando com atenção o que vai levar (leia mais na página ao lado), entre outras medidas. “A tendência é aumentar a ansiedade caso seja pego por situações inesperadas”, lembra a profissional. \\nVocê tomou diversos cuidados, mas, mesmo assim, se esqueceu de algo ou foi surpreendido com alguma coisa? Tenha em mente que, como pondera Delba, a maioria das situações pode ser resolvida. “Caso não tenha se lembrado de levar a caneta ou o lanche, por exemplo, é provável que algum lugar esteja vendendo-os. É difícil que aconteça algo que não seja contornável”, diz. \\nLembre-se também de que você pode pedir para ir ao banheiro no momento em que está sendo feito o exame. “Se estiver ansioso, deixe a água gelada correr no pulso. Molhe a nuca. Pense em algo bacana, que te traga esperança. Lembre-se de características que gosta em você, que te façam sentir a sua fortaleza e a sua capacidade”, pontua a profissional.\\nFonte: O Tempo';\n        const source_3 = 'https://exame.abril.com.br/seu-dinheiro/os-cartoes-de-creditos-com-as-menores-taxas-segundo-a-proteste/';\n            \n        const source_4 = \"Livro | Leonardo da Vinci - Edição de Luxo (capa dura) | R$40\";\n        const source_5 = 'Tênis Mizuno Superfast Masculino | R$ 99,90 | 3x http://www.hardmob.com.br/promocoes/701840-amazon-tenis-mizuno-superfast-masculino-r-99-90-3x.html';\n        const source_6 = 'Smart TV LED 55\" UHD 4K Curva Samsung 55MU6300 (R$ 2.899) http://www.hardmob.com.br/promocoes/701827-pontofrio-smart-tv-led-55-uhd-4k-curva-samsung-55mu6300-12x-de-r-241-58-r-2-899-a.html';\n\n        let text_1 = document.getElementById('text-1');\n        let text_2 = document.getElementById('text-2');\n        let text_3 = document.getElementById('text-3');\n        \n        let text_4 = document.getElementById('text-4');\n        let text_5 = document.getElementById('text-5');\n        let text_6 = document.getElementById('text-6');\n\n\n        text_1.innerHTML = source_1.trunc(200);\n        text_2.innerHTML = source_2.trunc(200);\n        text_3.innerHTML = source_3.trunc(200);\n        text_4.innerHTML = source_4.trunc(200);\n        text_5.innerHTML = source_5.trunc(200);\n        text_6.innerHTML = source_6.trunc(200);\n\n        \n        let button_1 = document.getElementById('button-1');\n        let button_2 = document.getElementById('button-2');\n        let button_3 = document.getElementById('button-3');\n\n        let button_4 = document.getElementById('button-4');\n        let button_5 = document.getElementById('button-5');\n        let button_6 = document.getElementById('button-6');\n\n        let input_text = document.getElementById('input_text');\n        button_1.addEventListener('click', () => {\n            input_text.value = source_1;\n        });\n        button_2.addEventListener('click', () => {\n            input_text.value = source_2;\n        });\n        button_3.addEventListener('click', () => {\n            input_text.value = source_3;\n        });\n        button_4.addEventListener('click', () => {\n            input_text.value = source_4;\n        });\n        button_5.addEventListener('click', () => {\n            input_text.value = source_5;\n        });\n        button_6.addEventListener('click', () => {\n            input_text.value = source_6;\n        });\n\n    });\n    \n</script>\n</html>","output":"str","x":409.5999755859375,"y":87.90003967285156,"wires":[["2f3bc86f.594648"]]},{"id":"55c63a7d.2e0d0c","type":"switch","z":"f4804512.465b1","name":"","property":"payload.input_text","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":223.59999084472656,"y":186.8999786376953,"wires":[["fb4dd6a1.101cc"],["94d24e15.8d622"]]},{"id":"2f3bc86f.594648","type":"http response","z":"f4804512.465b1","name":"Http Reponse","statusCode":"","headers":{},"x":664.0499877929688,"y":93.05000305175781,"wires":[]},{"id":"984fc1e9.9fdc6","type":"template","z":"f4804512.465b1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n <link href=\"https://fonts.googleapis.com/css?family=Barlow+Condensed\" rel=\"stylesheet\">\n <title>Watson NLU on Node-RED</title>\n <style>\n @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);\n \n div.container {\n display:inline-block;\n }\n \n p {\n text-align:center;\n }\n \n .centered { \n margin: 0 auto; \n width: 50%;\n }\n \n .button {\n background-color: #4CAF50; /* Green */\n border: none;\n color: white;\n padding: 3px 35px;\n text-align: center;\n text-decoration: none;\n display: inline-block;\n font-size: 16px;\n margin: 4px 2px;\n -webkit-transition-duration: 0.4s; /* Safari */\n transition-duration: 0.4s;\n cursor: pointer;\n }\n \n .button2 {\n background-color: white; \n color: black; \n border: 2px solid #008CBA;\n }\n \n .button2:hover {\n background-color: #008CBA;\n color: white;\n } \n \n h1, h2, h3, h4, h5, h6 {\n font-family: 'Barlow Condensed', sans-serif;\n font-weight: 500;\n color: WHITE;\n margin-top:5px;\n margin-bottom:5px;\n }\n \n h1, h2, h3 {\n text-transform:uppercase;\n }\n \n img {\n background-color: white;\n margin-top: 85px;\n display: block;\n margin-left: auto;\n margin-right: auto;\n border: 1px solid #ddd;\n border-radius: 4px;\n padding: 5px;\n }\n \n .center {\n margin: auto;\n width: 100%;\n }\n \n .wrapper {\n text-align: center;\n }\n \n .textforms {\n color: white;\n font-family: 'Barlow Condensed', sans-serif;\n font-size: 1.1vw;\n line-height: 180%;\n padding: 20px 40px 60px;\n margin: 20px 0px 60px;\n }\n \n textarea {\n height: 32px;\n color: white;\n text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);\n background-color: \t#152934;\n border: 1px solid white;\n border-radius: 4px;\n }\n \n textarea:focus {\n background-color: #152934;\n border: 2px solid BLACK;\n color: WHITE\n }\n \n input[type=text] {\n color: white;\n text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);\n background-color: \t#152934;\n border: 1px solid #152934;\n padding: 12px 20px;\n margin: 8px 0;\n box-sizing: border-box;\n -webkit-border-radius: 4px;\n -moz-border-radius: 4px;\n border-radius: 4px;\n }\n \n input[type=text]:focus {\n background-color: #152934;\n border: 2px solid BLACK;\n color: WHITE\n }\n \n .btn-primary {\n background: #5aaafa;\n color: #2d3f49;\n }\n \n /* TABLE INFO */\n \n body {\n /* background-color: #3e94ec; */\n background-color: #2d3f49;\n font-family: \"Roboto\", helvetica, arial, sans-serif;\n font-size: 16px;\n font-weight: 400;\n text-rendering: optimizeLegibility;\n }\n \n div.table-title {\n display: block;\n margin: auto;\n max-width: 800px;\n padding:5px;\n width: 100%;\n }\n \n .table-title h3 {\n color: #fafafa;\n font-size: 30px;\n font-weight: 400;\n font-style:normal;\n font-family: \"Roboto\", helvetica, arial, sans-serif;\n text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);\n text-transform:uppercase;\n }\n \n .table-title h1 {\n color: #fafafa;\n font-size: 40px;\n font-weight: 400;\n font-style:normal;\n font-family: \"Roboto\", helvetica, arial, sans-serif;\n text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);\n text-transform:uppercase;\n }\n \n /*** Table Styles **/\n \n .table-fill {\n height: 14px\n background: white;\n border-radius:3px;\n border-collapse: collapse;\n height: 150px;\n margin: auto;\n max-width: 800px;\n padding: 5px;\n width: 800px;\n box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);\n animation: float 5s infinite;\n }\n \n th {\n color:#D5DDE5;;\n background:#1b1e24;\n border-bottom:4px solid #9ea7af;\n border-right: 1px solid #343a45;\n font-size:32px;\n font-weight: 100;\n padding: 24px;\n text-align:left;\n text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);\n vertical-align:middle;\n }\n \n th:first-child {\n border-top-left-radius:3px;\n }\n \n th:last-child {\n border-top-right-radius:3px;\n border-right:none;\n }\n \n tr {\n border-top: 1px solid #C1C3D1;\n border-bottom: 1px solid #C1C3D1;\n color:#666B85;\n font-size:20px;\n font-weight:normal;\n text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);\n }\n \n tr:hover td {\n background:#4E5066;\n color:#FFFFFF;\n border-top: 1px solid #22262e;\n }\n \n tr:first-child {\n border-top:none;\n }\n \n tr:last-child {\n border-bottom:none;\n }\n \n tr:nth-child(odd) td {\n background:#EBEBEB;\n }\n \n tr:nth-child(odd):hover td {\n background:#4E5066;\n }\n \n tr:last-child td:first-child {\n border-bottom-left-radius:3px;\n }\n \n tr:last-child td:last-child {\n border-bottom-right-radius:3px;\n }\n \n td {\n background:#FFFFFF;\n padding: 20px;\n text-align:left;\n vertical-align:middle;\n font-weight:300;\n font-size:20px;\n text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);\n border-right: 1px solid #C1C3D1;\n }\n \n td:last-child {\n border-right: 0px;\n }\n \n th.text-left {\n text-align: left;\n }\n \n th.text-center {\n text-align: center;\n }\n \n th.text-right {\n text-align: right;\n }\n \n td.text-left {\n text-align: left;\n }\n \n td.text-center {\n text-align: center;\n }\n \n td.text-right {\n text-align: right;\n }\n </style>\n</head>\n\n<body>\n <div class = \"center wrapper\">\n \n    <br>\n    <br>\n    \n    <div class=\"table-title\">\n       <h1>Watson NLU</h1>\n    </div>\n    <br>\n    <br>\n    <div class=\"textforms\">\n        <div class=\"table-title\">\n            <h3>Conceitos</h3>\n        </div>\n        <table class=\"table-fill\">\n            <thead>\n                <tr>\n                    <th>Texto</th> <th>Relevância</th> <th>dpPedia(link)</th>\n                </tr>\n            </thead>\n            <tbody class=\"table-hover\">\n            {{#payload.nlu.concepts}}\n            <tr><td><b>{{text}}</b></td><td><i>{{relevance}}</i></td><td><i>{{dbpedia_resource}}</i></td></tr>\n            {{/payload.nlu.concepts}}\n            </tbody>\n        </table>\n        <br>\n        <br>\n        <div class=\"table-title\">\n            <h3>Categorias</h3>\n        </div>\n        <table class=\"table-fill\">\n            <thead>\n                <tr>\n                    <th>Categoria</th> <th>Score</th>\n                </tr>\n            </thead>\n            <tbody class=\"table-hover\">\n            {{#payload.nlu.categories}}\n            <tr><td><b>{{label}}</b></td><td><i>{{score}}</i></td></tr>\n            {{/payload.nlu.categories}}\n            </tbody>\n        </table>\n        <br>\n        <br>\n        {{#payload.has_entities}}\n        <div class=\"table-title\">\n            <h3>Entidades</h3>\n        </div>\n        <table class=\"table-fill\">\n            <thead>\n                <tr>\n                    <th>Entidade</th> <th>Valor</th>\n                </tr>\n            </thead>\n            <tbody class=\"table-hover\">\n            {{#payload.nlu.entities}}\n            <tr><td><b>{{type}}</b></td><td><i>{{text}}</i></td></tr>\n            {{/payload.nlu.entities}}\n            </tbody>\n        </table>\n        {{/payload.has_entities}}\n\n        <form action=\"{{req._parsedUrl.pathname}}\">\n        <br>\n        <input class=\"button button2\" type=\"submit\" value=\"Retornar\"/>\n        </form>\n    </div>\n </div>\n</body>\n</html>","output":"str","x":1119.60009765625,"y":470.9000244140625,"wires":[["88aca6dc.97c7"]]},{"id":"b5f3119b.aa9798","type":"debug","z":"f4804512.465b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150.6000518798828,"y":564.9500274658203,"wires":[]},{"id":"7708bd3d.890974","type":"comment","z":"f4804512.465b1","name":"Coloque aqui suas credenciais do servico NLU","info":"","x":706.5999755859375,"y":425.9000244140625,"wires":[]},{"id":"81458bf9.fe457","type":"comment","z":"f4804512.465b1","name":"WORKSHOP WATSON NLU","info":"","x":631.5999755859375,"y":24.900009155273438,"wires":[]},{"id":"24aa2718.c229d8","type":"comment","z":"f4804512.465b1","name":"PARA TESTAR ACESSE: <seu-url>.mybluemix.net/nlu","info":"","x":640.5999755859375,"y":243.90000915527344,"wires":[]}]